feed_to_intel
{
  "name": "Feed to Teams",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "dfc72cc8-0851-4dc3-8012-08813f2a644b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "O0Cl9SNPiKdOTSFQ",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "/projects/tuQxsw3zrwEkZYwL/datatables/O0Cl9SNPiKdOTSFQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "Approval",
              "condition": "isTrue"
            },
            {
              "keyName": "Sent",
              "condition": "isEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "3c5844d9-a5e9-4997-8f10-5bc904976d2e",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "O0Cl9SNPiKdOTSFQ",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "/projects/tuQxsw3zrwEkZYwL/datatables/O0Cl9SNPiKdOTSFQ"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sent": "={{ $now }}",
            "Approval": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval",
              "displayName": "Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DailyArticle",
              "displayName": "DailyArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "a5cc5903-fad5-45d4-b82e-c1bd84c6fae5",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Threat Intel Analyst that has to assess articles for their threat level and their relevance to my company. The article is that one:\"{{ $json.articleText }}\". We define a threat as something where Opportunity, Malicious Intent and Capability overlap. Opportunity is the \"weak link\" that someone leverages to achieve a malicious goal - like a vulnerability or a product that has a vulnerability. Capability is what a malicious actor has to do to make use of the opportunity. Intent is what the malicious actor actually wants to achieve. If only Capability and opportunity are present we speak of a \"Potential\" Threat. If Intent and Capability overlap we call this an \"impending\" Threat. Where only Intent and Opportunity overlap we consider this as \"insubstantial\" threat.\n \n \nPlease analyze the following article as follows:\nstart with a two-sentenced summary of the article.\nelaborate on prerequistes to execute the described attack.\nPlease summarize all details about the threat actor / activity group.\nPlease Look for targeted industries, countries or regions and summarize those under \"Victimology\"\nList in short Bullets what is Capability, what is opportunity and what is intent. In each category give a short summary and then list specific product names and vulnerabilities (CVEs) under \"Opportunity\" e.g. for vulnerable products or respectively under \"capability\" if it's an attack tool or Malware.\nPlease add all huntable artifacts and IOCs in a dedicated section.\nAt the end please give a short description of every attack technique mentioned in the article written for people with low technical understanding",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        0
      ],
      "id": "2fe5c4ba-bbfc-4702-b7a5-0923e18649e1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1200,
        224
      ],
      "id": "f14e8a13-df24-4378-b3c5-63514195abb5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NjjPAjQzFIU1BxcV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        736,
        0
      ],
      "id": "131e8ff8-0ed4-4af8-9243-39abc95d1251",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "articleText",
              "cssSelector": "body",
              "skipSelectors": "script, style, nav, footer, header, aside"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        992,
        0
      ],
      "id": "39b7b42e-f69e-47af-be72-2eec7abdd428",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1632,
        0
      ],
      "id": "16c45fef-7302-48ab-b053-c243bdfbef32",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "5214430616",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1936,
        0
      ],
      "id": "c7118a4e-dffa-4a61-9fdc-be46d517a956",
      "name": "Send a document",
      "webhookId": "9c731282-82e2-45d9-a939-9c120b3033e5",
      "credentials": {
        "telegramApi": {
          "id": "MgGSTGouLkmnl2CA",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-01-12T14:07:19.003-05:00",
          "Readable date": "January 12th 2026, 2:07:19 pm",
          "Readable time": "2:07:19 pm",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "January",
          "Day of month": "12",
          "Hour": "14",
          "Minute": "07",
          "Second": "19",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "034114af-b2c1-401a-9dcc-f7dfeb32b41f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "111ab2dce887c7f02529337eb3fc612520a59d621d6241f6d1da7daad90ed710"
  },
  "id": "yqWqqLDhXhKBOUmRvOBfL",
  "tags": []
}
