rss_to_feed
{
  "name": "RSS Daily Feed",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "options": {}
      },
      "id": "3cfd18a4-dee4-495f-8283-18b5549b9948",
      "name": "RSS - Feed 1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "029358f5-fc4e-4234-ab55-a0d98478a865",
      "name": "RSS - Feed 2",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        0,
        240
      ]
    },
    {
      "parameters": {},
      "id": "f1ff864e-0828-4347-b6b0-0702dd2de01f",
      "name": "Merge (+ Feed3)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        416,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "91e5a4dc-1124-4198-8ec0-bace7352f2ce",
              "leftValue": "={{ new Date($json.isoDate) }}",
              "rightValue": "={{ new Date(Date.now() - 60 * 60 * 1000) }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "0aae4757-4384-42f5-a57c-9f0628027bbe",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        880,
        128
      ],
      "id": "989ed531-6db7-427a-9a8e-ec80ccd2660c",
      "name": "Filter"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "O0Cl9SNPiKdOTSFQ",
          "mode": "list",
          "cachedResultName": "feed",
          "cachedResultUrl": "/projects/tuQxsw3zrwEkZYwL/datatables/O0Cl9SNPiKdOTSFQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.title }}",
            "Link": "={{ $json.link }}",
            "Summary": "={{ $json.content }}",
            "Approval": "={{ false }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sent",
              "displayName": "Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approval",
              "displayName": "Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DailyArticle",
              "displayName": "DailyArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": false
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1104,
        128
      ],
      "id": "17eb40fb-44bd-4792-a524-f2f0f2cc9d2f",
      "name": "Insert row"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b96af3b-7fb2-4300-b7b7-3034406e773f",
              "name": "isoDate",
              "value": "={{ $json.isoDate ? new Date($json.isoDate).toISOString() : null }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        128
      ],
      "id": "cd3963d7-f7bf-49d2-9868-fe766c401bd5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "dc1d74dc-549f-49cc-a067-25d82f467b07",
      "name": "Cron (every minute)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -368,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "RSS - Feed 1": {
      "main": [
        [
          {
            "node": "Merge (+ Feed3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS - Feed 2": {
      "main": [
        [
          {
            "node": "Merge (+ Feed3)",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge (+ Feed3)": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron (every minute)": {
      "main": [
        [
          {
            "node": "RSS - Feed 1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS - Feed 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "40b94aa8-8148-4bf0-b544-bccc1bb3be65",
  "meta": {
    "instanceId": "111ab2dce887c7f02529337eb3fc612520a59d621d6241f6d1da7daad90ed710"
  },
  "id": "Spt5TFPUXD4Ndn5uo7oKE",
  "tags": []
}
